<section
    style="background: rgb(0, 0, 0); height: 100%;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,178,228,0.3982843137254902) 0%, rgba(197,213,214,1) 100%);">
    <form action="/admin/addbrand" method="post" enctype="multipart/form-data">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="pb-5">
                                </span>
                            </div>

                            <h2 class="fw-bold text-dark text-uppercase">Add Brand</h2>
                            <div class="form-outline mb-4">
                                <div class="form-outline form-white mb-5">
                                    <div style="color: black; text-align: left; margin-bottom: 1rem;">
                                        <label class="form-label" for="form4Example1">Name</label>
                                        <input type="text" name="brand" placeholder="Name"
                                            class="form-control form-control-lg" required />
                                    </div>
                                    <div style="color: black; text-align: left; margin-bottom: 1rem;">
                                        <label class="form-label" for="form4Example1">Image</label>
                                        <input type="file" name="image"
                                         required />
                                    </div>
                                     

                                        <p class="text-danger">{{msg}}</p>
                                    <button class="btn btn-outline-success btn-lg px-5" type="submit">Submit</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
    </form>
    </div>

</section>