<section class="section">

  <div class="Top-right">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-smartwatch"
      viewBox="0 0 16 16">
      <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5V5z" />
      <path
        d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667zM4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3z" />
      <p class="appname">&nbsp;BOLT</p>
    </svg>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class=" col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  " style="border-radius: 1rem;
color: rgb(255, 255, 255);
backdrop-filter: blur(5px); 
border: 1px solid gray;
border-radius: 3%;
background-color: #17181E;
}">

          <div class="card-body p-5 text-center">
            <form action="/otp" method="post">
              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class=" mb-2 text-uppercase"
                  style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: 600;">OTPddd
                </h2>


                <div class="form-outline form-white mb-4">
                  <input type="number" class="form-control form-control-lg"
                    style="background: transparent;color: white;" placeholder="OTP" name="verify" />
                  <div style="display: flex; justify-content:right; padding-top: 20px;">

                    <a href="/resend" id="unhide">
                      <p style="font-size: 11px; font-weight: bold; color: white;">Resend OTP?</p>
                    </a>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>

              </div>
              <p id="countdown"></p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById("unhide").style.display = "none";



  var countDownTime = 30000;
  var x = setInterval(function () {
    countDownTime -= 1000;
    var seconds = Math.floor((countDownTime % (1000 * 120)) / 1000);
    document.getElementById("countdown").innerHTML = "otp expire in " + seconds + "s ";
    if (countDownTime < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = ""
      document.getElementById("unhide").style.display = "block";
    }
  }, 1000);
</script>